body{
	margin: 0;
}
.box{
	width: 100vmin;
	height: 100vmin;
	margin: 0 auto;
}
.line{
	display: flex;
}
.items__white{
	background:white;
	width: 13%;
	border: 2px solid #333;
	position: relative;
}
.items__black{
	background: silver ;
	width: 13%;
	border: 2px solid #333;
	position: relative;
}
.items__black:after{
  content:"";
  display: block;
  padding-bottom: 100%;
}
.items__white:after{
  content: "";
  display: block;
  padding-bottom: 100%;
}
.line img {
    position: absolute;
    width: 100%;
}